body {
    margin: 0px;
    /* font-family: 'Times New Roman', Times, serif; */
    /* background: rgb(198,247,219); */
    /* background: radial-gradient(circle at top left, rgba(193, 241, 205,), rgba(162, 203, 244,)); */
}
section {
    margin-top: 0px;
    background: rgb(198,247,219);
    background: radial-gradient(circle at top left, rgba(193, 241, 205, 1), rgba(162, 203, 244, 1));
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tracking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}
h2 {
    font-size:xx-large;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: max-content;
    padding: 14px 55px;
    border: none;
    border: 1px solid;
    border-radius: 4px;
}
button {
    margin-top: 16px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #f5a207;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 120px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}
button:hover {
    color: white;
    background-color: #0ebf13;
}

.main-card {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    gap: 100px;

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-para {
    color: #a4a4a4;
    font-size:medium;
}
.content {
    padding: 4px;
    justify-content: center;
}